<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
	<nav class="uk-navbar uk-navbar-container uk-margin">
		<div class="uk-navbar-left">
        </div>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" >Kaota</a>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <div><a href="" class="uk-icon-button" uk-icon="user"></a></div>
            </div>
        </div>
	</nav>
</div>

